<br>

<mat-divider></mat-divider>
<mat-progress-bar mode="buffer" color="warn"></mat-progress-bar>
<mat-divider></mat-divider>
<mat-progress-bar mode="buffer" color="accent"></mat-progress-bar>
<mat-divider></mat-divider>
<mat-progress-bar mode="buffer" color="primary"></mat-progress-bar>
<mat-divider></mat-divider>
<mat-progress-bar mode="indeterminate" color="primary"></mat-progress-bar>
<mat-progress-bar mode="query" color="primary"></mat-progress-bar>
<mat-progress-bar mode="indeterminate" color="primary"></mat-progress-bar>

<hr>

<h1 id="html-body-header-h1">🌌Eventus🎲Aleatorius🍀</h1>
